<mat-dialog-content>
  <h2>Como adicionar música</h2>
  <iframe width="560" height="315" src="URL_DO_VIDEO_ADICIONAR_MUSICA" frameborder="0" allowfullscreen></iframe>
  
  <h2>Como deletar música</h2>
  <iframe width="560" height="315" src="URL_DO_VIDEO_DELETAR_MUSICA" frameborder="0" allowfullscreen></iframe>
  <div class="flex col-span-12 justify-between mt-2">
    <button class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 focus:outline-none focus:ring focus:border-gray-300" (click)="fecharModal()">Cancelar</button>
    <button class="text-white px-2 py-1.5 rounded-md bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Adicionar</button>
  </div>
</mat-dialog-content>
