<mat-dialog-content>
  <div class="flex flex-wrap justify-center w-full">
    <form class="grid grid-cols-12 gap-1.5" #musicForm="ngForm" (ngSubmit)="addMusica()">
      <div class="col-span-12">
        <label class="block font-semibold mb-1">Nome da música</label>
        <input type="text" class="w-full border rounded-md px-3 py-2" [(ngModel)]="musicaData.nome" name="nome" required />
      </div>
      <div class="col-span-4">
        <label class="block font-semibold mb-1">Tom</label>
        <select class="w-full border rounded-md px-3 py-2" [(ngModel)]="musicaData.tom" name="tom">
          <option value="C">C</option>
          <option value="C#">C# / Db</option>
          <option value="D">D</option>
          <option value="D#">D# / Eb</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="F#">F# / Gb</option>
          <option value="G">G</option>
          <option value="G#">G# / Ab</option>
          <option value="A">A</option>
          <option value="A#">A# / Bb</option>
          <option value="B">B</option>
        </select>
      </div>
      <div class="col-span-4">
        <label class="block font-semibold mb-1">BPM</label>
        <input type="number" min="40" max="300" class="w-full border rounded-md px-3 py-2" [(ngModel)]="musicaData.bpm" name="bpm" />
      </div>
      <div class="col-span-4">
        <label class="block font-semibold mb-1">Duração</label>
        <input type="text" placeholder="mm:ss" class="w-full border rounded-md px-3 py-2" [(ngModel)]="musicaData.duracao" name="duracao" />
      </div>
      <div class="col-span-6">
        <label class="block font-semibold mb-1">Categoria</label>
        <select class="w-full border rounded-md px-3 py-2" [(ngModel)]="musicaData.categoria" name="categoria">
          <option>Adoração</option>
          <option>Celebração</option>
          <option>Ministração</option>
        </select>
      </div>
      <div class="col-span-6">
        <label class="block font-semibold mb-1">Cifra</label>
        <input placeholder="link" class="w-full border rounded-md px-3 py-2 font-mono" [(ngModel)]="musicaData.link" name="cifra"/>
      </div>
      <div class="flex col-span-12 justify-between mt-2">
        <button class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 focus:outline-none focus:ring focus:border-gray-300" (click)="fecharModal()">Cancelar</button>
        <button class="text-white px-2 py-1.5 rounded-md bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Adicionar</button>
      </div>
    </form>
    <div *ngIf="erroMsg" class="text-red-600 mt-2">
      {{ erroMsg }}
    </div>
    <div class="col-span-2 mt-4 w-full hidden">
      <label class="block font-semibold mb-1">JSON gerado:</label>
      <pre class="bg-gray-100 p-2 rounded text-xs">{{ musicaData | json }}</pre>
    </div>
  </div>

